<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ind</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/indexPage.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body class="full-screen justify-content-center">
<div class="center-block">
    <a class="btn btn-primary index-btn" th:href="@{/rooms}">
        <div style="display: flex; height: 100%; width: 100%">
            <span class="index-text" style="margin:auto">Let's go!</span>
        </div>
    </a>
</div>
</body>
</html>